attr==0.3.1
attrs==21.2.0
certifi==2021.5.30
chardet==4.0.0
coremltools==5.0b2
idna==2.10
mpmath==1.2.1
numpy==1.19.5
opencv-python==4.5.2.54
packaging==21.0
Pillow==8.3.2
protobuf==3.17.3
pyparsing==2.4.7
requests==2.25.1
scipy==1.7.0
selenium==3.141.0
six==1.16.0
sympy==1.8
tqdm==4.61.2
urllib3==1.26.6
